# .gitignore file

# ignore all .dat files
*.dat

# ignore all csv files
*.csv

# ignore the plots folder
plots
November/__pycache__/plotting_preferences.cpython-311.pyc
November/__pycache__/load_data_function.cpython-311.pyc

# ignore ALL pycache files
__pycache__/
*.pyc